<h1>About</h1>
<hr/>
<p>
Transkribator is an in-progress attempt to bring some fresh air to the land of linguistic research, namely phonetic transcription process.
</p>
<p>
Currently you can upload your audio, access it from theoretically anywhere around the world and allow others to see and hear it,
automatically transcribe it and manually edit the transcription.
In the future it will be possible to suggest corrections for other users' transcriptions
and respectively get suggestions for your transcriptions. Growing base of corrected transcriptions
will be used for the improvement of models and algorithms used for automatic transcription, thus doubling
the value of efforts spent on manual edition.
</p>
<p>
We make Transkribator in our spare time without any external support.
This would not be possible without the number of amazing open source/free licensed data projects,
among which are:
<ul>
<li><a href="http://kaldi.sourceforge.net/">Kaldi</a> &ndash; a toolkit for speech recognition</li>
<li><a href="http://www.voxforge.org/">VoxForge</a> &ndash; GPL transcribed speech collection</li>
<li><a href="https://github.com/westonruter/ipa-chart/">IPA chart</a> &ndash; International Phonetic Alphabet Unicode Chart and Character Picker</li>
<li><a href="http://www.wavesurfer.fm/">wavesurfer.js</a> &ndash; Web Audio waveform visualizer</li>
<li><a href="http://github.hubspot.com/drop/docs/welcome/">Drop.js</a> &ndash; a fast and capable dropdown library</li>
<li><a href="http://canjs.com/">CanJS</a> &ndash; JavaScript MVC framework</li>
<li><a href="https://jquery.com/">jQuery</a> &ndash; a fast, small, and feature-rich JavaScript library</li>
<li><a href="https://blueimp.github.io/jQuery-File-Upload/">jQuery File Upload Plugin</a> &ndash; file upload widget</li>
<li><a href="http://getbootstrap.com/">Bootstrap</a> &ndash; HTML, CSS and JS front-end framework</li>
<li><a href="http://www.perldancer.org/">Dancer</a> &ndash; a simple but powerful web application framework for Perl</li>
<li><a href="http://www.postgresql.org/">PostgreSQL</a> &ndash; a powerful, open source object-relational database system</li>
<li><a href="http://nginx.org/">nginx</a> &ndash; an HTTP server</li>
</ul>
</p>
<p>
Any questions or comments? Reach us at <a href="mailto:info@transkribator.com">info@transkribator.com</a>.
</p>
